#container{
    width: 700px; height: 400px;
    margin: 40px auto;
    background-color: rgb(216, 216, 247);
    border-radius: 2%;
    padding: 20px;
}
header{ 
    text-align: left; 
}
.masuk{
    padding-left: 0px; 
    text-align: center;
    color: blue;
}  
.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="email"]{
    border-radius: 5px 5px 0 0; 
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
} 
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
} 
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
} 
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
} 
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
} 
.password{
    position: relative;
} 
.password input[type="password"]{
    padding-right: 1px;
} 
.password .glyphicon,#password2 .glyphicon {
    display:none;
    right: 1px;
    position: absolute;
    top: 12px;
    cursor:pointer;
}
.btn{
    width: 125px;
    height: 45px;
    background-color: blue;
    border: blue;
    border-radius: 30px;
    font-size: larger;
    color: white;
}
footer{
    margin-top: 70px;
}